.about-comapny {
  width: 100%;
  background: url('../images/bgd_about.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  display: flex;
  flex-direction: row;
  color: $color-white;
  padding: 30px 0 80px 0;
  margin: 180px 0 0 0;
}
.about-box {
  display: flex;
  flex-direction: row;
  & h2 {
    padding: 0 0 0 10px;
    border-left: 2px solid $color-confetti;
  }
  & p {
    margin: 0 10px 0 10px;
  }
}