/* Colors
   ========================================================================== */

/**
 * Set colors used in project. e.g $color-name: #hexvalue
 */

$color-black: #000000;
$color-white: #ffffff;
$color-fountain-blue: #45AEB1;

//project colors 

$color-mine-shaft: #272727;
$color-mine-shaf-dark: #202020;
$color-alto: #DBDBDB;
//main colors
$color-valencia: #D84A4A;
$color-mariner-photo: #327ecfb8;
$color-marinier: #327ECF;
$color-confetti: #f6f92ff7;